

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>

<%= div_for item do %>
      <tr>
        <td><%= item.title %></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
<% end %>
  </tbody>




</table>
